<nav class="navbar">
  <div class="navbar-container">
    <a href="/">
      <img src="/images/logo.png" alt="Goodybag" class="navbar-logo">
    </a>
    <ul class="nav">
      <li>
        <a href="/admin">Home</a>
      </li>
      <li>
        <a href="/admin/restaurants">Restaurants</a>
      </li>
      <li>
        <a href="/admin/regions">Regions</a>
      </li>
      <li>
        <a href="/admin/delivery-services">Delivery Services</a>
      </li>
      <li>
        <a href="/admin/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
