<header class="header">
  <div class="container">
    <h1 class="title">Goodybag Scheduler</h1>
  </div>
</header>

<div class="container">
  <div id="scheduler-app"></div>
</div>

<footer class="footer">
  <span>© goodybag</span>
</footer>

<script src="/dist/main.js"></script>