<div class="banner">
  <div class="container">
    <h1 class="title">Goodybag Scheduler</h1>
  </div>
</div>

<div class="container">
  <div id="scheduler-app"></div>
</div>

<script src="/dist/main.js"></script>