// Color Palette
@blue: #5D69CE;
@white: #FFF;
@lightBlue: #93A1DF;
@lighterBlue: #64D1FB;
@lightGrey: #D1D4E1;

@headerHeight: 200px;

html,body {
  min-height: 100%;
  height: 100%;
}

body{
  font-family:'Avenir', Helvetica, sans-serif;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

a { color:#00B7FF; }

h1, h2, h3, h4 { margin: 0; padding: 0;}

.header {
  background-color: @blue;
  height: @headerHeight;
  color: #fff;
}

.header .title {
  font-weight: 300;
  font-size: 30px;
  position: relative;
  top: @headerHeight / 3;
}

.footer {
  text-align: center;
  height: 35px;
}

.container {
  min-height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.hide { display: none; }

///////////////////////
// Job Item
//////////////////////
.job-item {
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #eee;

  .job-info {
    font-weight: 700;
  }

  .job-datetime {
    display: block;
    font-weight: 400;
    font-size: 13px;
  }

  .action {
    font-weight: 400;
  }
}

.job-item:hover {
  background-color: #eee;
}

.more-info-list {
  dt {
      width: 15%;
      font-weight: 700;
  }

  dt, dd {
      display: inline-block;
      margin: 0;
      //float: left;
  }
}

//////////////
// Job Nav
//////////////
.job-nav {
  position: relative;
  top: -30px;
  background-color: @blue;

  .active {
    border-bottom: 3px solid @lighterBlue;
    color: @white;
  }
}

.job-nav ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.job-nav ol > li {
  display: inline-block;
  cursor: pointer;
  color: @lightBlue;
  padding-bottom: 7px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 15px;
  transition: all 0.3s;
}

.job-nav ol > li:hover {
  color: @white;
  border-bottom: 3px solid @lighterBlue;
}
